<!doctype html>
<html>
    <head>
        <title>Manyfaced stats</title>
        <link href='/griddle.css' rel="stylesheet">
        <link href='http://griddlegriddle.github.io/Griddle/styles/skeleton.css' rel="stylesheet">
        <style>table {width:100%;}</style>
    </head>
<body>
    <div id="react-main-mount">
        <div><%- reactOutput %></div>
    </div>
    <script src="/main.js"></script>
</body>
</html>
