<!doctype html>
<html>
    <head>
        <title>Manyfaced stats</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href='/css/react-datepicker.css' rel="stylesheet">
        <link href='/css/generic.css' rel="stylesheet">
    </head>
<body>
    <div id="react-main-mount">
        <div><%- reactOutput %></div>
    </div>
    <script src="/main.js"></script>
</body>
</html>
